*{
	padding: 0;
    margin: 0;
	box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.logo{
    cursor: pointer;
    align-items: flex-start;
    margin-left: 80px;
    margin-bottom: 10px;
    width: 160px;
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 40px;
}

.nav__links li a{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #333;
    text-decoration: none;
}

.nav__links li a:hover{
    color: #9DAA50, 100%;
}

.container1{
    width: 100%;
    align-items: center;
}

.photo{
    width: 100%;
    background-size: cover;
}

.container2{
    width: 100%;
    padding: 80px;
    align-items: center;
    background-color: white;
}

.row1{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row1 .photo{
    width: 40%;
    align-items: flex-end;
    padding: 60px;
}

.text1{
    width: 60%;
    align-items: flex-start;
    padding: 150px;
}

.text1 h2{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    color: #333;
}

.text1 a{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #333;
    text-decoration: none;
}

.row2{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row2 .photo{
    width: 40%;
    align-items: flex-start;
    padding: 40px;
}

.text2{
    width: 60%;
    align-items: flex-end;
    padding: 150px;
}

.text2 a{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #333;
    text-decoration: none;
}

.text2 h2{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    color: #333;
}

.footer{
    padding: 20px;
    text-align: center;
    background: #9DAA50;
}

#pfooter{
    text-align: center;
    font-size: 16px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.sidebar{
    width: 20%;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: #9DAA50;
}

.sidebar-brand{
    align-items: center;
    height: 140px;
    padding: 1.5rem 0rem 0rem 4.5rem;
}

.sidebar-brand .logo2{
    display: inline-block;
    width: 160px;
    padding-right: 1rem;
}


#sidebar-menu{
    width: 100%;
    margin-bottom: 3rem;
}

.list{
    width: 100%;
    margin-bottom: 3rem;
    padding-left: 5rem;
    display: block;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
    transition: 0.5s
}


.active, .list:hover{
    background: #B8C762;
    padding-top: 1rem;
    padding-bottom: 1rem;
}



.sidebar-menu a span:first-child{
    font-size: 24px;
    padding-right: 0.5rem;
}

.main-dash{
    margin-left: 20%;
}

.main-dash h1{
    align-items: flex-end;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: #333;
}

main{
    margin-top: 5px;
    padding: 2rem 1.5rem;
    background: #f7f7f7;
    min-height: calc(100vh - 90px);
}

.cards{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 5rem;
}

.card-single{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 280px;
    background: white;
    padding: 4rem;
}

.card-single h1{
    display: flex;
    align-items: flex-start;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    color: #333;
}

.card-single span{
    display: flex;
    align-items: flex-start;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    color: #333;
}

.card-single .icon2{
    width: 180px;
   display: flex;
   align-items: flex-start;
}

.cards2{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
}

.list{
    display: block;
    font-family: 'Poppins', sans-serif;
}